

// generate the base styles that all columns will share, including a 3% gutter on the left side.
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 0 0 3%;

	&.first { margin: 0; }
}

.col12 {
	float: none;
}


// column styles
.grid-row {
	padding: 0 3%;
	clear: both;
	
	@include clearfix;

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
		&.first, &:first-child { margin: 0; }
	}

}

.air {
	padding: 20px;

	@include respond-to( 500px ) {
		padding: 20px 30px;
	}

	@include respond-to( 650px ) {
		padding: 30px 4%;
	}

	@include respond-to( 1024px ) {
		padding: 40px 4%;
	}

	.grid-row {
		padding: 0;
	}
}

// now we'll set the widths
.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }


// stack on small devices
// this area takes a screen-first approach simply
// because there's no performance reason to use
// mobile-first for these elements.
@media all and ( max-width: 650px ) {
	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
		float: none;
		width: auto;
		margin: 0;
	}
}


// symantic clear fix
.group {
	@include clearfix;
}


.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}
